<%- include('../layout') %>

<h2>Change Password</h2>

<% if (error) { %>
  <p style="color:red;"><%= error %></p>
<% } %>

<% if (success) { %>
  <p style="color:green;"><%= success %></p>
<% } %>

<form method="POST" action="/account/password">
  <label>Current Password:
    <input type="password" name="currentPassword" required />
  </label><br /><br />

  <label>New Password:
    <input type="password" name="newPassword" required />
  </label><br /><br />

  <label>Confirm New Password:
    <input type="password" name="confirmPassword" required />
  </label><br /><br />

  <button type="submit">Update Password</button>
</form>

</main>
</body>
</html>
